<form #f="ngForm" *ngIf="editMode" class="mb-3">
  <div class="input-group">
    <input [(ngModel)]="myTask" type="text" name="myTask" class="form-control">
    <button class="btn btn-dark" [disabled]="!f.valid" (click)="saveTask()"><i class="fas fa-plus"></i></button>
  </div>
</form>

<ul class="list-group">
  <li class="list-group-item font-weight-bold" *ngFor="let task of tasks | async">
    <span class="mr-5"><input id="checkbox" type="checkbox"></span>
    <span id="task">{{task.description}}</span>
    <span id="butts">
      <button class="btn btn-primary mr-2" (click)="edit(task)"><i class="fas fa-pen"></i></button>
    <button class="btn btn-danger" (click)="deleteTask(task)"><i class="fas fa-times"></i></button>
  </span>
  </li>
</ul>
