span {
  vertical-align: middle;
  display: inline-block;
}

#task {
  align-items: center;
}

#butts {
  float: right;
}

#checkbox {
  width: 1.3em;
  height: 1.3em;
}

#check {
  float: left;
}

ul {
  margin-bottom: -4%;
}
